html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* background-image: url(https://images.unsplash.com/photo-1417008914239-59b898b49382?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bfd189d77306bff4ac8766d90fef43c4&auto=format&fit=crop&w=1528&q=80); */
    background-size: cover;
}

 ::-webkit-scrollbar {
    display: none;
}

.wi {
    font-size: 32px;
    text-align: center;
}

span>.wi {
    font-size: 85px;
}

.wrapper {
    flex: 1;
    min-height: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-template-rows: repeat(10, fit-content(50px));
}

.wrapper>* {
    /*     border: 1px solid #ffc600;
 */
}

.weatherToday {
    background: rgba(0, 0, 0, 0.5);
    width: 650px;
    height: auto;
    color: whitesmoke;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
    grid-template-rows: repeat(3, auto-fit);
    grid-template-areas: "location gif" "wi gif" "temp gif" "weatherCondition gif";
    justify-items: center;
    align-content: center;
    border-radius: 25px;
}


}
.location {
    grid-area: location;
    justify-self: center;
}
.temp {
    grid-area: temp;
    justify-self: center;
    align-self: center;
}
.weatherCondition {
    grid-area: weatherCondition;
    justify-self: center;
    align-self: start;
}
.gif {
    display: grid;
    grid-area: gif;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.gif>img {
    width: 100%;
    height: 100%;
    border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.wallpaper {
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/7;
    width: 100%;
    height: 75vh;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.weatherToday {
    display: grid;
    grid-area: weatherToday;
}
.weatherInfo {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    grid-column: 1/-1;
    grid-row: 7/9;
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    flex-direction: row;
    flex-basis: 200px;
    justify-content: space-between;
    align-content: center;
    overflow: auto;
}
.weatherInfo>* {
    margin: 0;
    padding: 0;
    flex: 1 1 20%;
    justify-content: space-around;
    text-align: center;
}
.weather>i {
    font-size: 50px;
}
.footer {
    height: 50px;
    color: #ffc600;
    background: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 1em;
    width: 100%;
    justify-content: center;
}
.hidden {
    visibility: hidden;
}