html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

 ::-webkit-scrollbar {
    display: none;
}

.wi {
    font-size: 32px;
    text-align: center;
}

span>.wi {
    font-size: 85px;
}

.wrapper {
    flex: 1;
    min-height: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-template-rows: repeat(10, fit-content(50px));
}

.wrapper>* {
    /*     border: 1px solid #ffc600;
 */
}

.weatherToday {
    background: rgba(0, 0, 0, 0.5);
    width: 650px;
    height: auto;
    color: whitesmoke;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1fr);
    grid-template-rows: repeat(5, min-max(50px, 1fr));
    grid-template-areas: "location gif" "wi gif" "wi gif" "temp gif" "weatherCondition gif";
    justify-items: center;
    align-content: center;
    border-radius: 25px;
    box-shadow: -14px 14px 28px rgba(0, 0, 0, 0.60), 0 10px 10px rgba(0, 0, 0, 0.60);
}

.weatherToday div {
    display: inline-block;
    padding: 0;
    margin: 0;
    line-height: 3em;
}


}
.location {
    grid-area: location;
    justify-self: center;
    grid-rows: 1/2;
}
.location h1 {
    font-size: 3em;
}
.temp {
    display: grid;
    grid-area: temp;
    align-self: center;
    align-items: center;
    justify-items: center;
    grid-rows: 2/4;
}
.temp h1 {
    font-size: 3em;
}
.weatherCondition {
    display: grid;
    grid-area: weatherCondition;
    justify-items: center;
    align-items: center;
    grid-rows: 4/5;
}
.weatherCondition h1 {
    font-size: 3em;
}
.gif {
    display: grid;
    grid-area: gif;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.gif>img {
    width: 100%;
    height: 100%;
    border-radius: 0 25px 25px 0;
    -moz-border-radius: 0 25px 25px 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.wallpaper {
    display: grid;
    grid-column: 1/-1;
    grid-row: 1/7;
    width: 100%;
    height: 75vh;
    align-content: center;
    justify-content: center;
    overflow: auto;
}
.weatherInfo {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    grid-column: 1/-1;
    grid-row: 7/9;
    background: rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    flex-direction: row;
    flex-basis: 200px;
    justify-content: space-between;
    align-content: center;
    overflow: auto;
    border-top: 1px solid linear-gradient(#ffc600, rgba(0, 0, 0, 0.5)))
}
.weatherInfo>* {
    margin: 0;
    padding: 0;
    flex: 1 1 20%;
    justify-content: space-around;
    text-align: center;
}
.weather>i {
    font-size: 50px;
}
.footer {
    height: 50px;
    color: #ffc600;
    border-top: 2px solid #ffc600;
    background: rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 1em;
    width: 100%;
    justify-content: center;
}
.footer>* .hidden {
    visibility: hidden;
}
.sunrise,
.sunset,
.wind,
.humidity,
.pressure {
    transition: all .2s ease-in-out;
}
.sunrise:hover,
.sunset:hover,
.wind:hover,
.humidity:hover,
.pressure:hover {
    transform: scaleX(1.05);
    color: #ffc600;
}
.metrics {
    font-size: 0.8em;
}
.metrics:hover {
    color: #ffc600;
    font-size: 0.8em;
}
.hidden {
    display: none;
}